#----------------------
# function to start and
# go to project folder
#----------------------
function work() {
    typeset env_name="$1"
    typeset env_folder="$2"
    if [ "$env_name" = "" ]
    then
        virtualenvwrapper_show_workon_options
        return 1
    fi
    if [ "$env_folder" = "" ]
    then
        echo "Indique a pasta do projeto"
        return 1
    fi

    virtualenvwrapper_verify_workon_environment $env_name || return 1
    cd /Users/jonatascd/www/$env_folder
    echo "Trabalhando em: $env_name"
    echo -n -e "\033]0;$env_name\007"
}

function strip_diff_leading_symbols(){
# function got from paulirish dotfiles github
# https://github.com/paulirish/dotfiles
#
# in OSx is good to install first
# brew install gnu-sed
# and change 'sed' to 'gsed' as indicated by brew on install

   color_code_regex="(\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K])"

   # simplify the unified patch diff header
   gsed -r "s/^($color_code_regex)diff --git .*$//g" | \
       gsed -r "s/^($color_code_regex)index .*$/\n\1$(rule)/g" | \
       gsed -r "s/^($color_code_regex)\+\+\+(.*)$/\1+++\5\n\1$(rule)\x1B\[m/g" |\

   # actually strips the leading symbols
       gsed -r "s/^($color_code_regex)[\+\-]/\1 /g"
}

## Print a horizontal rule
rule () {
   printf "%$(tput cols)s\n"|tr " " "─"}}
}
